body {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgba(252, 245, 223, 0.95);
}

/* 메인 부분 시작 */
main {
    min-height: 315px;
    padding: 0 190px 0 190px;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.title {
    padding: 15px 0 20px 0;
    width: 500px;
    border-bottom: 1px solid black;
    text-align: center;
    font-size: 40px;
}

table {
    border-bottom: 1px solid gray;
    border-collapse: collapse;
    font-size: 20px;
}

th {
    border-right: 1px solid gray;
    border-left: 1px solid gray;
    border-bottom: 1px solid gray;
    font-weight: 500;
    padding: 0 20px 0 20px;
}

th:nth-child(1) {
    border-left: none;
}

th:nth-child(5) {
    border-right: none;
}

.register a {
    font-size: 20px;
    color: rgb(250, 220, 100);
}

.admin_info th {
    font-size: 15px;
    padding: 0;
    font-weight: 100;
}

.update,
.delete {
    font-weight: 500;
}

.page{
	text-align: center;
}
.current{
    color:  rgb(250, 220, 100);
}
